mmdet3d_plugin/__pycache__/*
mmdet3d_plugin/core/bbox/__pycache__/*
mmdet3d_plugin/core/bbox/assigners/__pycache__/*
mmdet3d_plugin/core/bbox/coders/__pycache__/*
mmdet3d_plugin/core/bbox/match_costs/__pycache__/*
mmdet3d_plugin/datasets/__pycache__/*
mmdet3d_plugin/datasets/pipelines/__pycache__/*
mmdet3d_plugin/models/__pycache__/*
mmdet3d_plugin/models/backbones/__pycache__/*
mmdet3d_plugin/models/detectors/__pycache__/*
mmdet3d_plugin/models/necks/__pycache__/*
mmdet3d_plugin/models/roi_heads/__pycache__/*
mmdet3d_plugin/models/utils/__pycache__/*
mmdet3d_plugin/models/roi_heads/bbox_heads/__pycache__/*
mmdet3d_plugin/models/roi_heads/utils/__pycache__/*
work_dirs/*
viz/*
weights/*